# Normalize all text files to LF
* text=auto
*.py text
*.html text
*.css text
*.js text
*.scss text
*.pb filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tfevents* filter=lfs diff=lfs merge=lfs -text
