{% extends 'trainer/homeindex.html' %}
{% block body %}


<body>
<h2 class="text-center">Diet Chart</h2>

<form action="/myapp/add_diet_chart_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
     {% csrf_token %}
  <table class="table table-bordered">

    <tr>
      <th width="107">Name</th>
      <td width="218"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield"  class="form-control" required/></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Diet Chart</th>
      <td><input type="file" name="fileField3" id="textfield3" class="form-control" required/></td></td>
    </tr>
      <tr>
      <th>BMI</th>
      <td><input type="text" name="BMI" id="BMI"  class="form-control" required/></td>
    </tr>
      <tr>
      <th>Alcoholabuse</th>
      <td><select name="Alcoholabuse" id="Alcoholabuse" class="form-control">
          <option>Light or social drinkers</option>
          <option>Moderate drinker</option>
          <option>Heavy drinkers</option>
          <option>No Use</option>
      </select></td>
      <tr>
      <th>Allergies</th>
      <td><select name="Allergies" id="Allergies" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Arthritis</th>
      <td><select name="Arthritis" id="Arthritis" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Asthma</th>
      <td><select name="Asthma" id="Asthma" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Bloodpressure</th>
      <td><select name="Bloodpressure" id="Bloodpressure" class="form-control">
          <option>Low</option>
          <option>Normal</option>
          <option>High</option>
      </select></td>
    </tr>
      <tr>
      <th>Cancer</th>
      <td><select name="Cancer" id="Cancer" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Cholestrol</th>
      <td><select name="Cholestrol" id="Cholestrol" class="form-control">
          <option>low-density lipoprotein (LDL)</option>
          <option>high-density lipoprotein (HDL)</option>
          <option>Lipoprotein(a) Cholesterol</option>
      </select></td>
    </tr>
      <tr>
      <th>Depression</th>
      <td><select name="Depression" id="Depression" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Diabetes</th>
      <td><select name="Diabetes" id="Diabetes" class="form-control">
           <option>Low</option>
          <option>Normal</option>
          <option>High</option>
      </select></td>
    </tr>
      <tr>
      <th>Druguse</th>
      <td><select name="Druguse" id="Druguse" class="form-control">
          <option>stimulants</option>
          <option>narcotics</option>
          <option>sedatives</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Gender</th>
      <td><select name="Gender" id="Gender" class="form-control">
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
      </select></td>
    </tr>
      <tr>
      <th>Headaches</th>
      <td><select name="Headaches" id="Headaches" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Heartproblem</th>
      <td><select name="Heartproblem" id="Heartproblem" class="form-control">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
      </select></td>
    </tr>
      <tr>
      <th>Kidney</th>
      <td><select name="Kidney" id="Kidney" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Liver</th>
      <td><select name="Liver" id="Liver" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Obicity</th>
      <td><select name="Obicity" id="Obicity" class="form-control">
          <option>Normal</option>
          <option>OverWeight</option>
          <option>Obicity</option>

      </select></td>
    </tr>
      <tr>
      <th>Pregnancy</th>
      <td><select name="Pregnancy" id="Pregnancy" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
      <tr>
      <th>Smoking</th>
      <td><select name="Smoking" id="Smoking" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>
       <tr>
      <th>Stroke</th>
      <td><select name="Stroke" id="Stroke" class="form-control">
          <option>Yes</option>
          <option>No</option>
      </select></td>
    </tr>


    <tr>
      <td height="51" colspan="2" align="center">
          <input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/>
{#          <input name="" type="button"  value="Cancel" class="btn btn-danger"/>#}

      </td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
