<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "trainer/homeindex.html" %}
{% block body %}
<body>
<h2 class="text-center">Tips</h2>

<form id="form1" name="form1" method="post" action="/myapp/trainer_edittips_post/">
    {% csrf_token %}

     <input type="hidden" name="tid" id="tid" value="{{ data.id }}"/>
  <table class="table table-bordered">

    <tr>
      <td>Tip</td>
      <td>
      <input type="text" name="textfield" id="textfield"  class="form-control" required value="{{ data.tips }}" /></td>
    </tr>
       <tr>
      <td>Category</td>
      <td>
      <input type="text" name="cat" id="textfield"  class="form-control" required value="{{ data.category }}"/></td>
    </tr>
       <tr>
      <td>Description</td>
      <td>
      <input type="text" name="desc" id="textfield"  class="form-control" required value="{{ data.description }}"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" class="btn btn-info"   value="add" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
