<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "trainer/homeindex.html" %}
{% block body %}
<body>
<h2 class="text-center">View Tips</h2>

<form id="form1" name="form1" method="post" action="/myapp/trainer_viewtips_post/#id">

<table class="pull-left">
    <tr>
        <td><input type="text" name="search" class="form-control" placeholder="Tip Name..."/></td>
        <td><input type="submit" class="btn btn-success" value="search"/></td>
    </tr>
</table>
<br>
  <table class="table table-bordered">
    <tr>
      <td>Sl no</td>
      <td>Tips</td>
      <td>Category</td>
      <td>Description</td>
      <td>&nbsp;</td>
{#      <td>&nbsp;</td>#}
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter  }}</td>
      <td>{{ i.tips }}&nbsp;</td>
      <td>{{ i.category }}&nbsp;</td>
      <td>{{ i.description }}&nbsp;</td>
      <td><a href="/myapp/trainer_edittips/{{ i.id }}#id" class="btn btn-success">edit</a></td>
{#      <td><a href="/myapp/delete_tips/{{ i.id }}" class="btn btn-danger" onclick="return confirm('Are You Sure?')">delete</a></td>#}
    </tr>
        {% endfor %}
  </table>

</form>
</body>
{% endblock %}
</html>
