<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends "trainer/homeindex.html" %}
{% block body %}
<body>
<h2 class="text-center">View Diet Plan</h2>

<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <td>Sl no</td>
      <td>Day</td>
      <td>Session</td>
      <td>Diets</td>
      <td>&nbsp;</td>
{#      <td>&nbsp;</td>#}
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.Days }}</td>
      <td>{{ i.Session }}&nbsp;</td>
      <td>{{ i.diets }}</td>
      <td><a href="/myapp/trainer_editdietplan/{{ i.id }}" class="btn btn-success">edit</a></td>
{#      <td><a href="/myapp/delete_dietplan/{{ i.id }}" class="btn btn-danger" onclick="return confirm('Are You Sure?')">delete</a></td>#}
    </tr>
      {% endfor %}
  </table>

</form>
</body>
{% endblock %}
</html>
