{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends "admin/homeindex.html" %}

{% block body %}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/myapp/admin_viewcomplaintandsendreply_post/#id">#}
{#    {% csrf_token %}#}
{#<table class="pull-left">#}
{#  <tr>#}
{#    <th>From Date</th>#}
{#    <td>#}
{#      <input type="date" name="textfield" class="form-control" id="textfield" /></td>#}
{#    <th>To Date</th>#}
{#    <th>#}
{#      <input type="date" name="textfield2" id="textfield2" class="form-control" /></th>#}
{#    <th><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-success"/></th>#}
{#  </tr>#}
{#</table>#}
{#<br>#}
{##}
{#<table class="table table-bordered">#}
{#  <tr>#}
{#    <th height="84">Sl no</th>#}
{#    <th>Date</th>#}
{#    <th>Service Plan</th>#}
{#    <th>Duration</th>#}
{#    <th>Service Amount</th>#}
{#    <th>Username</th>#}
{#    <th>Contact</th>#}
{#    <th>Paid Amount</th>#}
{#    <th>Status</th>#}
{#  </tr>#}
{#   {% for i in data %}#}
{##}
{##}
{#  <tr>#}
{#    <td>{{forloop.counter}}</td>#}
{#    <td>{{ i.date }}</td>#}
{#    <td>&nbsp;{{i.SERVICEPLAN.Splan }}</td>#}
{#    <td>&nbsp;{{i.SERVICEPLAN.duration }}</td>#}
{#    <td>&nbsp;{{i.SERVICEPLAN.amount }}</td>#}
{#    <td>{{ i.USER.name}}</td>#}
{#    <td>{{ i.USER.phoneno}}</td>#}
{##}
{#    <td>&nbsp;{{ i.amount }}</td>#}
{#    <td>&nbsp;{{ i.status }}</td>#}
{#  </tr>#}
{#    {% endfor %}#}
{#</table>#}
{#<p>&nbsp;</p>#}
{#</form>#}
{##}
{#</body>#}
{#{% endblock %}#}
{#</html>#}
<form id="form1" name="form1" method="post" action="/myapp/admin_viewuserpayments_post/#id">
    {% csrf_token %}
    <table class="pull-left">
        <tr>
            <th>From Date</th>
            <td><input type="date" name="from_date" class="form-control" id="from_date" /></td>
            <th>To Date</th>
            <td><input type="date" name="to_date" id="to_date" class="form-control" /></td>
            <th><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-success"/></th>
        </tr>
    </table>
</form>

<!-- Add Download Report Button -->
<form action="{% url 'download_report' %}" method="get">
    <button type="submit" class="btn btn-primary">Download Report</button>
</form>

<table class="table table-bordered">
    <tr>
        <th>Sl no</th>
        <th>Date</th>
        <th>Service Plan</th>
        <th>Duration</th>
        <th>Service Amount</th>
        <th>Username</th>
        <th>Contact</th>
        <th>Paid Amount</th>
        <th>Status</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.SERVICEPLAN.Splan }}</td>
        <td>{{ i.SERVICEPLAN.duration }}</td>
        <td>{{ i.SERVICEPLAN.amount }}</td>
        <td>{{ i.USER.name }}</td>
        <td>{{ i.USER.phoneno }}</td>
        <td>{{ i.amount }}</td>
        <td>{{ i.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}